@import url("reset.css");
.section {
  width: 100vw;
}
.section .container {
  width: 100%;
  height: 100%;
}
.section .container .row {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
}

#section1 {
  position: relative;
  height: 200vh;
}
#section1 .home-bg-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#section1 .home-bg-wrap img {
  position: absolute;
  left: 0;
  top: -8rem;
}
#section1 .home-bg-wrap img:nth-of-type(1) {
  filter: brightness(1.2);
}
#section1 .home-bg-wrap img:nth-of-type(2) {
  filter: brightness(0.6);
}
#section1 .home-bg-wrap img:nth-of-type(3) {
  top: -10rem;
  filter: brightness(1.2);
}
#section1 .home-txt {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 200vh;
}
#section1 .home-txt .home-top {
  width: 100%;
  height: 50%;
}
#section1 .home-txt .home-top .row {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#section1 .home-txt .home-top .row h1 {
  font-size: 6.5rem;
  font-family: "Berkshire Swash", cursive;
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
#section1 .home-txt .home-top .row p {
  font-size: 1.25rem;
  color: #fff;
}
#section1 .home-btm {
  width: 100%;
  height: 50%;
}
#section1 .home-btm .row {
  align-items: center;
  justify-content: center;
}
#section1 .home-btm .row .desc p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
}
#section1 .home-btm .row .desc span {
  font-size: 2.5rem;
  font-weight: 100;
}
#section1 .home-btm .row .desc span.block-yg {
  color: #cde4b0;
}
#section1 .home-btm .row .desc span.block-y {
  color: #ffe09c;
}
#section1 .home-btm .row .desc span.block-dg {
  color: #6d969c;
}
#section1 .home-btm .row .desc span.block-p {
  color: #e98e7d;
}
#section1 .material-symbols-outlined {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  color: #fff;
  z-index: 1;
  animation-duration: 1s;
  animation-name: move;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes move {
  0% {
    bottom: 2rem;
  }
  50% {
    bottom: 1rem;
  }
  100% {
    bottom: 2rem;
  }
}

#section2 {
  position: relative;
  height: 100vh;
  z-index: 2;
}
#section2 .bg-wrap {
  width: 100%;
  height: 100vh;
}
#section2 .bg-wrap:nth-of-type(1) {
  background: #CDE4B0;
}
#section2 .bg-wrap:nth-of-type(1) .imgs {
  margin: 1.25rem 0;
}
#section2 .bg-wrap:nth-of-type(1) .title,
#section2 .bg-wrap:nth-of-type(1) .desc {
  color: #003B3A;
}
#section2 .bg-wrap:nth-of-type(2) {
  background: #0F5152;
}
#section2 .bg-wrap:nth-of-type(2) .imgs {
  margin: 5rem 0 2.5rem;
}
#section2 .bg-wrap:nth-of-type(2) .title,
#section2 .bg-wrap:nth-of-type(2) .desc {
  color: #F4C9C0;
}
#section2 .bg-wrap:nth-of-type(3) {
  background: #FFE09C;
}
#section2 .bg-wrap:nth-of-type(3) .imgs {
  margin: 5rem 0 2.5rem;
}
#section2 .bg-wrap:nth-of-type(3) .title,
#section2 .bg-wrap:nth-of-type(3) .desc {
  color: #003B3A;
}
#section2 .bg-wrap .row {
  justify-content: center;
  flex-direction: column;
}
#section2 .bg-wrap .row .desc {
  font-size: 1rem;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
